// STYLES //////////////////////////////
// INIT CORE 
@import bower_components/bootstrap/scss/bootstrap

// SET VARIABLES
$nguyen-main-color: #1968b3
$nguyen-sec-color: #f26528
$nguyen-star-color: #ffeb3b
$nguyen-border: #ddd
$nguyen-copyright-bg: #f9f9f9
$nguyen-copyright-text: #666
$nguyen-transition: all 300ms ease
$nguyen-font: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"

// INCLUDES
@import _includes/header
@import _includes/footer

// INIT ROOT SETUP 
body
	font-family: $nguyen-font
	.btn-small
		padding: .25rem .5rem
		font-size: .85rem
		line-height: 1

section.products
	.itemsall
		font-size: 1rem
	.item
		margin-bottom: 30px
		.product-item
			display: flex
			height: 100%
			align-items: center
			flex-direction: column
			border: 1px solid darken(#fff, 5%)
			border-radius: 3px
			padding: 1.5rem
			h5 
				font-weight: normal
				height: 3.1rem
				text-overflow: ellipsis
				overflow: hidden
				width: 100%
				display: block
			.price
				font-size: 1.1rem
				font-weight: bold
				color: $nguyen-sec-color
			.rating 
				.fa-star
					color: $nguyen-star-color
					&.deactive
						color: darken(#fff, 15%) !important
			.more
				margin-bottom: 0
			&:hover 
				background: #fff
				border: 1px solid $nguyen-border
				box-shadow: 0 0 18px #0000001c

#staticBackdrop
	.item
		.product-item
			h5 
				font-weight: normal
			.price
				font-size: 1.1rem
				font-weight: bold
				color: $nguyen-sec-color
			.rating 
				.fa-star
					color: $nguyen-star-color
					&.deactive
						color: darken(#fff, 15%) !important
			.colors
				li 
					border: 1px solid $nguyen-border
					height: 30px
					width: 30px
					position: relative
					