| <!-- inject:js -->
| <!-- endinject -->
if process.argv.slice(3).indexOf('--production') > -1
	script(src="./js/meyer.min.js")
	script(src="./js/main.min.js")
else 
	script(src="./js/meyer.js")
	script(src="./js/main.js")
